NEXT_PUBLIC_SUPABASE_URL=<your_supabase_url>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<your_supabase_anon_key>
NEXT_PUBLIC_SERVICE_ROLE_KEY=<your_service_role_key>

DATABASE_PASSWORD=<your_database_password>

MAILJET_API_KEY=<your_mailjet_api_key>
MAILJET_API_SECRET=<your_mailjet_api_secret>
MAILJET_SENDER_EMAIL=<your_mailjet_sender_email>

GOOGLE_GEMINI_API_KEY=<your_google_gemini_api_key>